/* ---------- variables ---------- */
:root {
  --icy-border: solid 3px lightblue; 
}


/* ---------- general ---------- */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 0;
}

h1 {
  line-height: 1.2;
}

p {
  font-style: italic;
  font-size: 1.rem;
}

h1, p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

fieldset {
  border: none;
}

label {
  line-height: 2rem;
}

input {
  margin-right: 0.5rem;
  line-height: 1.5rem;
}

input[type="text"], input[type="email"], input[type="number"] {
  width: 100%;
}

input[placeholder] {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 0.5rem;
}

select {
  width: 100%;
}

textarea {
  width: 100%;
}

button {
  width: 100%;
  padding: 1rem;
  color:black;
  background: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  font-weight: bold;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.2rem;
}

  button:hover {
    cursor: pointer;
  }

  div {
    margin-bottom: 1rem;
  }

  .block {
    display: block;
  }

/* ---------- main container ---------- */
.form-container {
  /* border: solid 3px red; */
  
  border: var(--icy-border);
  width: 675px;
  height: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 1.5rem;
  margin-bottom: 3rem;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  border-radius: 0.5rem;
 }

/* ---------- heading ---------- */
.heading-container {
  /* border: solid 3px red; */

  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;

}
  #title {
  /* border: solid 3px blue; */

  }

  #description {
  /* border: solid 3px blue; */

  margin-top: 1rem;
  width: 75ch;
  }

/* ---------- user info ---------- */
.user-info {
  /* border: solid 3px blue; */

}

/* ---------- user role ---------- */
.user-role {
  /* border: solid 3px blue; */

}

/* ---------- user recommend ---------- */
.user-recommend {
  /* border: solid 3px blue; */

}

/* ---------- user-favorite ---------- */
.user-favorite {
  /* border: solid 3px blue; */

}

/* ---------- user improvement ---------- */
.user-improvement {
  /* border: solid 3px blue; */

}

/* ---------- user comments ---------- */
.user-comments {
  /* border: solid 3px blue; */

}

.submit-button {
  /* border: solid 3px blue; */
  border: var(--icy-border);

}






























